.page {
	--gray-rgb: 0, 0, 0;
	--gray-alpha-200: rgba(var(--gray-rgb), 0.08);
	--gray-alpha-100: rgba(var(--gray-rgb), 0.05);

	--button-primary-hover: #383838;
	--button-secondary-hover: #f2f2f2;
	background-color: #0000;
}

.page h1 {
	margin: 0 0 40px;
	font-size: 3.6em;
	font-family: var(--font-sans), Arial, Helvetica, sans-serif;
	letter-spacing: -2.15px;
	line-height: 110%;
	/* font-weight: 700; */
}

.page p {
	font-size: 1.35em;
	line-height: 1.3em;
	letter-spacing: -.031em;
	font-family: var(--font-sans-serif), Arial, Helvetica, sans-serif;
	opacity: 0.9;
}

.backgroundContainer {
	display: flex;
    flex-direction: row;
    left: 50%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    width: -moz-fit-content;
    width: fit-content;
}

@media (prefers-color-scheme: dark) {
	.page {
		--gray-rgb: 255, 255, 255;
		--gray-alpha-200: rgba(var(--gray-rgb), 0.145);
		--gray-alpha-100: rgba(var(--gray-rgb), 0.06);

		--button-primary-hover: #ccc;
		--button-secondary-hover: #1a1a1a;
	}
}

@media only screen and (max-width: 740px) {
	.page h1 {
		font-size: 2.3em;
		margin-bottom: 20px;
	}

	.page p {
		font-size: 1.3em;
		line-height: 1.25em;
		letter-spacing: -.031em;
		font-family: var(--font-sans-serif), Arial, Helvetica, sans-serif;
		opacity: 0.9;
	}
}

/*@media (prefers-color-scheme: dark) {*/
/*  .logo {*/
/*    filter: invert();*/
/*  }*/
/*}*/
