.page {
	--gray-rgb: 0, 0, 0;
	--gray-alpha-200: rgba(var(--gray-rgb), 0.08);
	--gray-alpha-100: rgba(var(--gray-rgb), 0.05);

	--button-primary-hover: #383838;
	--button-secondary-hover: #f2f2f2;
	background-color: #0000;
}

.page h1, .page h2, .page h3, .page h4 {
	font-size: 3.6em;
	font-family: var(--font-sans), Arial, Helvetica, sans-serif;
	letter-spacing: -.01em;
	font-weight: 700;
}

.page h1 {
	font-size: 3.6em;
	line-height: 110%;
	margin: 2rem 0 2rem;
}

.page h2 {
	font-size: 2.6em;
	line-height: 120%;
	margin: 2rem 0 1rem;
}

.page h3 {
	font-size: 2em;
	line-height: 120%;
	margin: 2.5rem 0 1.15rem;
}

.products {
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	height: min-content;
	padding: 80px 48px 160px;
	background-color: transparent;
}

.productFeatures {
	display: flex;
	gap: 40px;
	position: relative;
    overflow: visible;
}

.productFeatures > div:first-of-type {
	flex: 4;
}

.productFeatures > div:last-of-type {
	flex: 7;
}

.anchorLinks,
.footerLinks {
	list-style: none;
}

.anchorLinks li,
.footerLinks li {
	position: relative;
	padding-left: 1.2rem;
	margin-bottom: 0.5rem;
}

.anchorLinks li a,
.footerLinks li a {
	text-underline-offset: .28rem;
	text-decoration-thickness: .05rem;
}

.anchorLinks li a {
	color: var(--color-link);
}

.anchorLinks li:before {
	height: 1.18rem;
	width: 1.11rem;
	left: -.28rem;
	top: .2rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 17'%3E%3Cpath fill='%232E2522' d='M5 6h6v6H5z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 100%;
	content: "";
	display: block;
	position: absolute;
}

.page p,
.page ul {
	font-size: 1.25em;
	line-height: 1.25em;
	letter-spacing: -.03em;
	color: rgba(1, 0, 10, .75);
	font-family: var(--font-sans-serif), Arial, Helvetica, sans-serif;
	opacity: 0.9;
	margin-bottom: 25px;
	position: relative;
}

.backgroundContainer {
	display: flex;
    flex-direction: row;
    left: 50%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    width: -moz-fit-content;
    width: fit-content;
}

.collectionHeadingWrapper {
	display: contents;
}

.collectionHeading {
	z-index: 1;
    flex: none;
    width: 33%;
    height: auto;
    position: sticky;
    top: 88px;
    align-self: flex-start;
}

.collectionItems {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.collectionItem {
	background-color: rgba(0, 0, 0, 0.03);
	border-radius: 24px;
    padding: 40px;
    /* box-shadow: 0 20px 24px -32px #dad0ff80; */
	min-height: 400px;
}

.collectionItem h3 {
	margin: 0 0 10px;
}

.enterprise {
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	padding: 80px 48px 160px;
	background-color: transparent;
}

.enterpriseGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 24px;
}

.enterpriseItem1,
.enterpriseItem2,
.enterpriseItem3,
.enterpriseItem4 {
	border-radius: 24px;
	padding: 40px;
	min-height: 300px;
}

.enterpriseItem1 {
	background-color: #ebf6f2;
}

.enterpriseItem1 {
	background-color: #ebf6f2;
	grid-column: 1;
	grid-row: 1 / 3;
}

.enterpriseItem2 {
	background-color: #e9eff6;
	grid-column: 2 / 4;
	grid-row: 1;
}

.enterpriseItem3 {
	background-color: #efebf1;
	grid-column: 2;
	grid-row: 2;
}

.enterpriseItem4 {
	background-color: #f2e9de;
	grid-column: 3;
	grid-row: 2;
}

.upsell {
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	padding: 80px 48px 160px;
	background-color: transparent;
}

.upsellContent {
	background-color: rgba(0, 0, 0, 0.03);
	border-radius: 24px;
	padding: 40px;
	min-height: 300px;
}

.faq {
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	padding: 80px 48px 160px;
	background-color: transparent;
}

.faqContent {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	max-width: 720px;
	margin: 0 auto;
}

.faqHeading {
	text-align: center;
}

.faqHeading h2 {
	margin-top: 0;
}

.faqAccordion {
	width: 100%;
}

@media (prefers-color-scheme: dark) {
	.page {
		--gray-rgb: 255, 255, 255;
		--gray-alpha-200: rgba(var(--gray-rgb), 0.145);
		--gray-alpha-100: rgba(var(--gray-rgb), 0.06);

		--button-primary-hover: #ccc;
		--button-secondary-hover: #1a1a1a;
	}
}

@media only screen and (max-width: 740px) {
	.page h1 {
		font-size: 2.3em;
		margin-bottom: 20px;
	}

	.page h2 {
		font-size: 1.8em;
		margin-bottom: 20px;
	}

	.page h3 {
		font-size: 1.4em;
		margin-bottom: 15px;
	}

	.page p,
	.page ul {
		font-size: 1.25em;
		line-height: 1.25em;
		letter-spacing: -.02em;
		font-family: var(--font-sans-serif), Arial, Helvetica, sans-serif;
		opacity: 0.9;
	}

	.faq {
		padding: 60px 24px 100px;
	}

	.faqContent {
		gap: 32px;
	}
}